
p{
    font-size: 30px;
    line-height: 30px;
    word-spacing: 20px;
   text-transform: capitalize;
}

div{
    background-color: blue;
    height: 400px;
    width: 400px;
    font-style: italic;
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    margin: 20px 50px 10px;
    padding: 20px;
    text-align: justify;
}









